blinker==1.9.0
click==8.3.1
colorama==0.4.6
deepface
Flask==3.1.2
Flask-SQLAlchemy==3.1.1
flask-cors==6.0.2
greenlet==3.3.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==2.4.2
opencv-python==4.13.0.92
pillow==12.1.1
PyJWT==2.10.1
PyMySQL==1.1.2
python-dotenv==1.2.1
setuptools>=75.0.0
SQLAlchemy==2.0.46
typing_extensions==4.15.0
Werkzeug==3.1.5
